    body {
        margin: 0px;
        font-family: sans-serif;
        font-size: 30px;
    }

    /* Body Header */

    #body-header {
        height: 65vh;
        opacity: 0.8;
        background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 1.2rem;
    }

    /* Horizontal Lists */
    .bars{
    color: white;
    margin: 0;
    margin-right: 5%;
    display: none;
    }
    .bars i {
    font-size: 2rem;
    }
    .dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
    }
    .dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
    }
    .dropdown-list li{
    margin: 0.4rem 0px;
    }
    .dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

    .no-list-style{
        list-style: none;
    }

    .no-list-style li {
        font-weight: 100;
        font-size: 0.9rem;
    }

    .no-list-style li a{
        list-style: none;
        color: white;
        text-decoration: none;
    }

    .horizontal-list {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
    }

    .horizontal-list li {
        display: inline-block;
        margin: 0px 8px 8px 0px;
        font-weight: 100;
        font-size: 1.1rem;
    }


    .horizontal-list li a {
        color: white;
        text-decoration: none;
    }

    .nav-menu li a {
        transition: color 0.5s, border-bottom 4s;
    }

    .nav-menu li a:hover {
        color: lightgrey;
        border-bottom: 1px solid black;
    }

    .text-center {
        text-align: center;
    }

    /* Name and Social Icons*/

    #name-social-container {
        margin-top: 20vh;
    }

    #my-name {
        font-size: 3rem;
        letter-spacing: 0.1rem;
        color: white;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }


    .social-icons li a i {
        /*color: red;*/
        padding: 15px;
        font-size: 1.2rem;
        border-radius: 50%;
    }


    .social-icons li a i:hover {
        box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    }

    /*About Section*/

    #about {
        height: auto;
        width: 100%;
        position: relative;
    }

    #my-image {
        height: 12rem;
        width: 12rem;
        margin: auto;
        margin-top: -17vh;
    }

    #my-image img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 1px 1px 10px 2px lightgrey;
    }


    #about-para {
        padding: 10px;
        width: 70%;
        text-align: justify;
        color: grey;
        line-height: 28px;
        font-size: 1.1rem;
        margin: auto;
    }

    .text-highlight {
        color: #2857a4;
        font-weight: 600;
    }
/* Common Margin Classes */
.mb75px {
    margin-bottom: 75px;
}

.mb-blue {
    background-color: #2857a4;
}

.mb-green{
    background-color: rgb(18,117,9);
}
.mb-red{
    background-color: rgb(232,26,81);
}

/* Section */
section{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    margin-top: 55px;
    color:#2857a4;
}
.section-heading span{
    margin-left: 7px;
}

/* Skills */
.skill-name{
    color:white;
    font-size: 1.4rem;
    text-align: center;
}
.skill-display{
    width:70%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skill-progress{
    width:15rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    margin: 12px;
}
.skill-progress>div{
    border-radius: 0.8rem 0 0 0.8rem;
    box-shadow: 1px 1px 5px 2px #989882;
}

/* PERCENTAGE CLASSES*/
.eight-five{
    width:85%;
    height: inherit;
}

.ninety{
    width:90%;
    height: inherit;
}
.sixty-five{
    width: 65%;
    height:inherit;
}

/*portfolio*/
#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/*contact*/
#contact{
    color:white;
    background:linear-gradient(#2857a4,#403066);
}
#contact i, #contact span{
    color:white;
}
.contact-container{
    width: 70%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-form{
    width:50%;
    
}
input,textarea{
    width: 70%;
    display: block;
    color:white;
    border:none;
    padding:10px;
    margin:28px;
    background:none;
    border-bottom: 2px solid white;
}
button{
    margin:10px auto;
    display: block;
    color:white;
    padding: 8px;
    border: 1.5px solid white;
    background:linear-gradient(#2857a4,#403066);
}

.contact-details{
    width:50%;
    
}
.contact-details h5{
    margin-bottom: 0px;
}
.contact-details p{
    margin-bottom: -15px;
    font-size:0.9rem;
    color: lightgrey;
}
.contact-details ul{
    list-style: none;
}
.contact-details ul li{
    margin:-15px 0px 35px -35px;
    font-size: 0.9rem;
    color:lightgrey;
}

/*timeline*/
.timeline{
    position: relative;
    width: 75%;
}

.timeline-obj{
    width:40%;
    position: relative;
    min-height: 200px;
    margin:0 10px;
    z-index: 1;
    text-align: right;
}
.timeline-obj::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: lightgrey;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
    
}

.timeline-obj:nth-child(2n) {
    left: 53%;
}

.timeline-obj:nth-child(2n+1)::after {
    right: -19.5%;
}

.timeline-obj:nth-child(2n)::after {
    left: -16.5%;
}
.timeline-divider{
    position: absolute;
    top:6%;
    height: 78%;
    left:48%;
    border-left: 2px dashed #0096fa6b;
    
}
.traveller i{
    transform: rotate(90deg);
    color:blue;
    position: sticky;
    top:6%;
    left:48%;
    margin-left: -19px;
    z-index: 2;
}
@media only screen and (max-width: 572px) {
    
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 
}

@media screen and (max-width:768px){
    .timeline-obj{
        width:80%;
        left:12% !important;
    }
    .timeline-obj::after{
        left:-12.2% !important;
    }
    .timeline-divider{
        left:5%;
    }
}
.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo > img {
    width: 100%;
}


.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}

.text-right{
    text-align: right;
}